html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h3,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;*font-size:100%}legend{color:#000}
html{
    height:100%;
}
body{
    height: 100%;
    font-size: 14px;
    font-family: Arial,Helvetica,"Microsoft Yahei";
    color: rgb(110, 119, 129);
}
button, input {
    font-family: Arial,Helvetica,"Microsoft Yahei";
}
img{
    vertical-align: middle;
}
a{
    text-decoration: none;
    color: rgb(110, 119, 129);
}
a:hover{
    text-decoration: underline;
}

.wrapper{
    background: url('../image/bg.svg') center top repeat-x;
}
.header{
    margin-bottom: 15px;
}
.container{
    padding-bottom: 30px;
}
.inner{
    max-width: 1000px;
    padding: 0 10px;
    margin: 0 auto;
}

.mod-bg {
    position: absolute;
    left: 0;
    top: 0;
    height: 500px;
    width: 100%;
    z-index: -1;
    background: url('../image/bg.svg') center top repeat-x;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.mod-bg:after {
    display: block;
    width: 100%;
    height: 360px;
    content: '';
    margin-bottom: -240px
}
.mod-bg .waves {
    position: absolute;
    width: 100%;
    bottom: 0;
    min-height: 80px;
    max-height: 120px;
    z-index: 0
}
.mod-bg .parallax>use {
    animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.1) infinite
}
.mod-bg .parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s
}
.mod-bg .parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s
}
.mod-bg .parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s
}
.mod-bg .parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s
}
@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0)
    }
    100% {
        transform: translate3d(85px, 0, 0)
    }
}

.header{
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;
    backdrop-filter: blur(10px);
}
.mod-head .bd{
    height: 36px;
    padding: 10px 0;
    text-align: right;
}
.mod-head .btn{
    position: relative;
    display: inline-block;
    min-width: 56px;
    height: 34px;
    padding: 0 12px;
    background: rgba(255,255,255,0.3);
    border: 1px solid rgba(0,0,0,0.05);
    border-radius: 6px;
    line-height: 34px;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    color: #333;
    overflow: hidden;
    transition: color .2s,opacity .2s;
    font-family: Tahoma,Arial, Helvetica,"Microsoft YaHei";
    outline: none;
    -webkit-appearance: none;
}
.mod-head .btn:after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    left: 0;
    top: 0;
    opacity: 0;
    transition: opacity .2s;
    border-radius: 6px;
    overflow: hidden;
    pointer-events: none;
}
.mod-head .btn span,.mod-head .btn svg{
    vertical-align: middle;
}
.mod-head .btn svg,.mod-head .btn svg+span{
    position: relative;
    top: -1px;
}
.mod-head .btn:hover {
    color: #000;
    opacity: 1;
}
.mod-head .btn:hover:after {
    opacity: .02;
}

.mod-panel{
    margin-bottom: 50px;
}
.mod-panel .hd{
    padding: 35px 0;
	line-height: 22px;
}
.mod-panel .hd .title{
    max-width: 640px;
}
.mod-panel .hd h1{
    position: relative;
    z-index: 99;
    background-color: rgba(255,255,255,0);
	line-height: 56px;
    font-weight: bold;
	font-size: 36px;
	color:#1a2b3b;
}
.mod-panel .hd h1 span.tag{
    display: inline-block;
    padding: 0 8px;
    margin: 0 5px;
    background: rgba(255, 255, 255,0.8);
    line-height: 26px;
    vertical-align: middle;
    font-size: 13px;
    color: rgb(110, 119, 129);
    border-radius: 4px;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.03);
}
.mod-panel .btn:hover {
    background: #1b85da;
}
.mod-panel .hd p{
    margin-bottom: 10px;
    line-height: 26px;
    font-size: 15px;
}
.mod-panel .hd b{
	margin: 0 3px;
	color: #fd7474;
}
.mod-panel .btn {
    display: inline-block;
    height: 36px;
    min-width: 90px;
    padding:0 12px;
    margin: 0 8px;
    background: #2095f2;
    border: medium none;
    line-height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
    outline: none;
    border-radius: 4px;
    text-decoration: none;
}
.mod-panel .btn:hover{
	background: #1b85da;
}
.mod-panel .btn-green{
	background: #4bae4f;
	color: #fff;
}
.mod-panel .btn-green:hover{
	background: #47a04b;
}
.mod-panel .bd .btn-red{
	background: #f56954;
	color: #fff;
}
.mod-panel .btn-red:hover{
	background: #f4543c;;
}
.mod-panel .btn-orange{
	background: #ff9000;
	color: #fff;
}
.mod-panel .btn-orange:hover{
	background: #e18309;
}
.mod-panel .bd{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.mod-panel .view-box{
    width: 40%;
    text-align: center;
}
.mod-panel .view-box widget-qrcode{
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.05);
    border: 1px solid rgba(0,0,0,0.075);
}
.mod-panel .setting-box{
    width: 60%;
    max-width: 800px;
    padding: 25px;
    background: #fff;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.05);
    border: 1px solid rgba(0,0,0,0.075);
}
.mod-panel .setting-box code{
    display: block;
    padding: 10px 20px;
    background: #f8f8f8;
    border-radius: 5px;
    line-height: 24px;
    font-size: 15px;
    font-family: Menlo, Monaco, Consolas, "Andale Mono", "lucida console", "Courier New", monospace;
    color: #666;
}
.mod-panel .setting-box .input-wrapper{
    display: flex;
    line-height: 36px;
    margin-bottom: 5px;
}
.mod-panel .setting-box .input-title{
    width: 64px;
    margin-right: 10px;
}
.mod-panel .setting-box .input-content{
    flex: 1px;
    min-width: 0;
}
.mod-panel .setting-box label{
    display: inline-block;
    min-width: 80px;
    margin-right: 15px;
    line-height: 24px;
    user-select: none;
}
.mod-panel .setting-box label span,.mod-panel .setting-box label input{
    vertical-align: middle;
}
.mod-panel .setting-box input[type="search"]{
    width: 100%;
    height: 36px;
    padding: 0 15px;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    vertical-align: middle;
    outline: none;
    box-sizing: border-box;
}
.mod-panel .box{
    margin-bottom: 25px;
}
.mod-panel .box .c-hd{
    margin-bottom: 10px;
}
.mod-panel .box .c-hd .title{
    height: 20px;
    padding-left: 12px;
    border-left: 3px solid #2095f2;
    font-size: 18px;
    font-weight: bold;
    color: #1a2b3b;
}
.mod-panel .bd .btn {
    height: 34px;
    min-width: 80px;
    padding:0 15px;
    background: #2095f2;
    border: medium none;
    line-height: 34px;
    vertical-align: middle;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
    outline: none;
    border-radius: 4px;
}
.mod-panel .bd .btn:hover{
	background: #1b85da;
}
.mod-panel .bd .btn-green{
	background: #4bae4f;
	color: #fff;
}
.mod-panel .bd .btn-green:hover{
	background: #47a04b;
}
.mod-panel .bd .btn-red{
	background: #f56954;
	color: #fff;
}
.mod-panel .bd .btn-red:hover{
	background: #f4543c;;
}
.mod-panel .bd .btn-orange{
	background: #ff9000;
	color: #fff;
}
.mod-panel .bd .btn-orange:hover{
	background: #e18309;
}
.mod-panel .bd .btn-small{
    min-width: 36px;
    margin-right: -1px;
    cursor: pointer;
}
.mod-panel .bd .btn[disabled]{
	background: #f0f0f0;
	color: #aaa;
}
.mod-panel .ft{
    padding: 20px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.075);
    box-shadow: 1px 1px 5px rgba(0,0,0,0.05);
}
.mod-panel .ft .table-inner{
    overflow-x: auto;
}
.mod-panel .ft table{
    width: 100%;
}
.mod-panel .ft table caption{
    line-height: 32px;
    font-size: 16px;
    font-weight: bold;
}
.mod-panel .ft table caption h3{
    font-weight: bold;
    color: #333;
}
.mod-panel .ft table thead{
    background-color: #f8f8f8;
}
.mod-panel .ft table th,.mod-panel .ft table td{
    line-height: 20px;
    padding: 6px 10px;
    border: 1px solid #e4e4e4;
    white-space: nowrap;
}

.mod-sample{
    margin-bottom: 50px;
    background: #fff;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.05);
    border: 1px solid rgba(0,0,0,0.075);
}
.mod-sample .hd{
    padding: 10px 20px;
    line-height: 24px;
    border-bottom: 1px solid #f0f0f0;
}
.mod-sample .hd .title{
    position: relative;
    padding-left: 20px;
    margin-left: -18px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}
.mod-sample .hd .title::before{
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    content:'';
    background: #2095f2;
    border-radius: 2px;
}
.mod-sample .hd .subtitle{
    float: right;
    color: #999;
}
.mod-sample .hd .subtitle svg,.mod-sample .hd .subtitle span{
    vertical-align: middle;
}
.mod-sample .bd{
    padding: 20px;
}
.mod-sample .bd widget-qrcode{
    width: 172px;
    height: 172px;
    margin: 8px 6px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.075);
}

.mod-intro{
    margin-bottom: 65px;
}
.mod-intro .hd{
    margin: 0 5px 5px;
    line-height: 30px;
}
.mod-intro .hd span{
    font-size: 18px;
    font-weight: bold;
    color: #646464;
}
.mod-intro .bd ul{
    overflow: hidden;
}
.mod-intro .bd li{
    float: left;
    width: 33.33%;
}
.mod-intro .bd .item{
    padding: 15px 12px;
    margin: 0 5px 10px;
    background: rgb(246, 248, 250);
    border-radius: 5px;
}
.mod-intro .bd p{
    line-height: 22px;
}
.mod-intro .bd p.q{
    font-weight: bold;
    color: #646464;
}
.mod-intro .article p{
    line-height: 22px;
    text-indent: 2em;
}
.mod-intro .table-inner{
    overflow-x: auto;
}

.mod-article{
    margin-bottom: 65px;
}
.mod-article .bd{
    position: relative;
    padding: 30px 0;
}
.mod-article .bd::before{
    position: absolute;
    top: 0;
    left: 0;
    content: '“';
    font-size: 60px;
    border-radius: 6px;
}
.mod-article .bd::after{
    position: absolute;
    bottom: -10px;
    right: 0;
    content: '”';
    font-size: 60px;
    border-radius: 6px;
}
.mod-article .bd p{
    margin-bottom: 12px;
    line-height: 28px;
    font-size: 15px;
    text-indent: 2em;
}

.mod-copy{
    margin-bottom: 65px;
    padding: 35px 0;
    background: rgb(246, 248, 250);
}
.mod-copy .hd{
    margin: 0 5px 5px;
    line-height: 30px;
}
.mod-copy .hd span{
    font-size: 18px;
    font-weight: bold;
    color: #646464;
}
.mod-copy .bd{
    margin:0 5px;
}
.mod-copy .bd p{
    line-height: 26px;
    text-indent: 2em;
    font-size: 15px;
}
.mod-copy .bd .buttons{
    margin: 15px 0;
}
.mod-copy .bd .text-red{
    font-weight: bold;
    color: #fd7474;
}
.mod-copy .bd .text-blue {
    font-weight: bold;
    color: #48aeff;
}
.mod-copy .bd code{
    display: block;
    margin-bottom: 15px;
    padding: 8px 15px;
    line-height: 20px;
    background: #fff;
    border: 1px solid rgba(27,31,36,.15);
    border-radius: 5px;
    word-break: break-word;
}


.mod-foot .bd{
    padding: 10px 0;
    margin-bottom: 15px;
    text-align: center;
}
.mod-foot .bd p{
    line-height: 22px;
}
.mod-foot .bd p a,.mod-foot .bd p span{
    vertical-align: middle;
}
.mod-foot .bd p.buttons{
    margin: 10px 0 5px;
}
.mod-foot .box{
    width: 200px;
    height: 180px;
    margin: 0 auto 20px;
    line-height: 30px;
    text-align: center;
    overflow: hidden;
}
.mod-foot p{
    line-height: 30px;
}

.mod-fixedbar .bd {
    position: fixed;
    right: 20px;
    bottom: 20px;
}
.mod-fixedbar .bd a{
    position: relative;
    display: block;
    width: 48px;
    height: 48px;
    margin-bottom: 2px;
    background: rgba(255,255,255,0.8);
    border: 1px solid #f0f0f0;
    line-height: 48px;
    text-align: center;
}
.mod-fixedbar .bd .popup{
    display: none;
    position: absolute;
    right: 50px;
    bottom: 0;
    z-index: 99;
    border: 1px solid #f0f0f0;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.05);
}
.mod-fixedbar .bd a:hover{
    background: rgba(255,255,255,0.9);
}
.mod-fixedbar .bd a:hover .popup{
    display: block;
}

@media screen and (max-width: 1020px) {
    .header{
        margin-bottom: 10px;
    }
    .inner{
        max-width: 640px;
    }

    .mod-head .hd span.tag{
        padding: 5px 8px;
    }
    .mod-head .bd .btn{
        padding: 0 6px;
        font-size: 13px;
    }

    .mod-panel{
        margin-bottom: 25px;
    }
    .mod-panel .hd{
        float: none;
        padding: 10px 0;
        width: auto;
        margin-bottom: 15px;
    }
    .mod-panel .hd h1{
        position: static;
        margin-bottom: 5px;
        line-height: 26px;
        font-size: 20px;
    }
    .mod-panel .hd p{
        line-height: 22px;
        font-size: 13px;
        overflow: hidden;
    }
    .mod-panel .bd{
        flex-direction: column;
    }
    .mod-panel .view-box{
        width: auto;
        margin-bottom: 20px;
    }
    .mod-panel .view-box widget-qrcode{
        width: 200px;
        height: 200px;
    }
    .mod-panel .setting-box{
        width: auto;
        padding: 15px;
    }
    .mod-panel .setting-box code{
        padding: 10px;
        line-height: 20px;
        font-size: 14px;
    }
    .mod-panel .ft{
        padding: 15px;
    }

    .mod-sample .bd widget-qrcode{
        width: 132px;
        height: 132px;
    }


    .mod-article{
        margin-bottom: 25px;
    }
    .mod-article .bd{
        padding: 15px 0;
    }
    .mod-article .bd::before{
        font-size: 48px;
    }
    .mod-article .bd::after{
        font-size: 48px;
    }
    .mod-article .bd p{
        margin-bottom: 7px;
        line-height: 22px;
        font-size: 14px;
    }

    .mod-copy{
        padding: 15px 0 25px;
        margin-bottom: 25px;
    }
    .mod-copy .bd p{
        line-height: 22px;
        font-size: 14px;
    }
}

@media screen and (max-width: 640px) {
    .mod-panel .inner{
        padding: 10px;
    }
    .mod-panel .bd .btn{
        min-width: 64px;
    }
}
